.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1440;
  margin: auto;
  padding-top: 20px;
  padding-inline: 20px;
  border-top: 1px solid whitesmoke;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.social-link {
  text-decoration: none;
  color: white;
}
.social-link:hover {
  color: var(--redColor);
}

.time {
  line-height: 1.2;
  font-size: 18px;
}
.time span {
  font-weight: bold;
  letter-spacing: 1px;
}
@media screen and (max-width: 767px) {
  .footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
}
