@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #1e1e1e !important;
  color: white !important;
  width: 100%;
  height: 150vh;
  overflow-x: hidden !important;
}

#box {
  width: 300px;
  height: 300px;
  background-color: yellowgreen;
}
::-webkit-scrollbar {
  width: 0;
}
.ribbon {
  margin-top: 5%;
  display: flex;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.ribbon p {
  font-size: 300px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.155);
  font-weight: bold;
  animation: ribbon 250s linear infinite alternate;
  letter-spacing: 2px;
  animation-delay: 5.5s;
}
@keyframes ribbon {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.modal-img {
  position: absolute;
  bottom: 0;
  left: 30%;
}
.modal-img img {
  height: 600px;
  width: auto;
}
.about-me {
  margin-top: 3%;
  width: 100%;
}
.about {
  /* max-width: 1440px; */
  margin: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.left-heading p,
.left-headings p {
  font-size: 128px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  line-height: 1;
}

.description p {
  font-size: 20px;
  text-align: end;
}
.description {
  max-width: 400px;
}
.about .description {
  display: none;
}
.about:hover .description {
  display: block;
}
.left-heading {
  transition: filter 0.3s ease-in;
}

.left-heading:hover {
  filter: blur(20px);
}
.wrapper-contact {
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
}
.contact span {
  font-size: 128px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.my-work {
  margin: auto;

  text-align: end;
}
.work-heading p,
.work-headings p {
  font-size: 128px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  line-height: 1;
}
.work-heading {
  filter: blur(0);
  transition: filter 0.3s ease;
}

.work-heading:hover {
  filter: blur(20px);
}

.work .work-ribbon {
  display: none;
}
.work:hover .work-ribbon {
  display: block;
}

.mail p {
  font-size: 40px;
  letter-spacing: 2px;
}
.signature {
  max-width: fit-content;
  margin: auto;
  padding: 20px;
  width: 100%;
  height: 100%;
}
.signature img {
  width: 100%;
  height: 100%;
}
.contact {
  margin-top: -5%;
}
/* --------------------------------------------- */
.contact-sign {
  width: 50vw;
  aspect-ratio: 1000 / 340;
}
.contact-sign .signature {
  width: 50vw;
  position: absolute;
  aspect-ratio: 1000 / 340;
  top: 0;
}
.work-ribbon img {
  width: 100%;
  height: 100px;
}
.work-ribbon {
  display: none;
  position: absolute;
  display: flex;
  width: 100%;
  white-space: nowrap;
}
.work-ribbon-a {
  top: 300px;
}
.work-ribbon-b {
  top: 250px;
}
.work-ribbon-c {
  top: -150px;
}
.work-ribbon-d {
  top: -250px;
}
@media screen and (max-width: 767px) {
  .modal-img {
    position: absolute;
    bottom: 0;
    left: 0%;
  }
  .modal-img img {
    height: auto;
    width: 99%;
  }
  .left-heading p,
  .left-headings p {
    font-size: 50px;
  }
  .about .description {
    display: block;
  }
  .description p {
    font-size: 15px;
    text-align: end;
  }
  .mail p {
    font-size: 20px;
  }
  .contact span {
    font-size: 30px;
  }
  .work-headings p,
  .work-heading p {
    font-size: 50px;
  }
}
