@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #1e1e1e !important;
  color: white !important;
  width: 100%;
  height: 150vh;
  overflow-x: hidden !important;
}

#box {
  width: 300px;
  height: 300px;
  background-color: yellowgreen;
}
::-webkit-scrollbar {
  width: 0;
}
.ribbon {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.frame-1 {
  position: absolute;
  bottom: 2%;
  left: -8%;
  width: 20px !important;
  height: 20px !important;
}
.frame-2 {
  position: absolute;
  bottom: 2%;
  right: -8%;
  transform: rotate(270deg);

  width: 20px !important;
  height: 20px !important;
}
.ribbon p {
  font-size: 300px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.155);
  font-weight: bold;
  -webkit-animation: ribbon 250s linear infinite alternate;
  animation: ribbon 250s linear infinite alternate;
  /* letter-spacing: 2px; */
  -webkit-animation-delay: 5.5s;
  animation-delay: 5.5s;
}
.ribbon span {
  animation: pop 1s ease-in-out linear;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes pop {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes ribbon {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes ribbon {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.modal-img {
  position: absolute;
  bottom: -0.4rem;
  left: 50%;
  -webkit-transform: translate3D(-50%, 0, 0);
  transform: translate3D(-50%, 0, 0);
}
.modal-img img {
  height: 600px;
  width: auto;
}
.about-me {
  max-width: 1440px;
  margin: auto;
  margin-top: 3%;
  width: 100%;
}
.about {
  max-width: 1440px;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.left-heading p,
.left-headings p {
  font-size: 128px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  line-height: 1;
}

.description p {
  font-size: 20px;
  text-align: end;
}
.description {
  max-width: 400px;
}

.about .description {
  display: none;
}

.about .left-heading:hover + .description {
  display: block;
}
.left-heading {
  -webkit-transition: -webkit-filter 0.3s ease-in;
  transition: -webkit-filter 0.3s ease-in;
  -o-transition: filter 0.3s ease-in;
  transition: filter 0.3s ease-in;
  transition: filter 0.3s ease-in, -webkit-filter 0.3s ease-in;
}

.left-heading:hover {
  -webkit-filter: blur(20px);
  filter: blur(20px);
}
.wrapper-contact {
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
}
.contact p {
  font-size: 128px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.my-work {
  /* margin: auto; */
  text-align: end;
}
.work-heading p,
.work-headings p {
  font-size: 128px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  line-height: 1;
  max-width: 1440px;
}
.work-heading {
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  -o-transition: filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

.work-heading:hover {
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.work .work-ribbon {
  display: none;
}
.work:hover .work-ribbon {
  display: block;
}

.mail p {
  font-size: 40px;
  letter-spacing: 2px;
}
.signature {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: auto;
  padding: 20px;
  width: 100%;
  height: 100%;
}
.signature img {
  width: 100%;
  height: 100%;
}
.contact {
  margin-top: -5%;
}
/* --------------------------------------------- */
.contact-sign {
  width: 50vw;
  aspect-ratio: 1000 / 340;
}
.contact-sign .signature {
  width: 50vw;
  position: absolute;
  aspect-ratio: 1000 / 340;
  top: 0;
}
.work-ribbon img {
  width: 100%;
  height: 100px;
}
.work-ribbon {
  display: none;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  white-space: nowrap;
  animation: wave 2s ease-in-out infinite;
}
.work-ribbon-a {
  top: 300px;
}
.work-ribbon-b {
  top: 250px;
}
.work-ribbon-c {
  top: -150px;
}
.work-ribbon-d {
  top: -250px;
}
@media screen and (max-width: 767px) {
  .modal-img {
    position: absolute;
    bottom: 0;
    left: 0%;
  }
  .modal-img img {
    height: auto;
    width: 99%;
  }
  .left-heading p,
  .left-headings p {
    font-size: 50px;
  }
  .about .description {
    display: block;
  }
  .description p {
    font-size: 15px;
    text-align: end;
  }
  .mail p {
    font-size: 20px;
  }
  .contact p {
    font-size: 30px;
  }
  .work-headings p,
  .work-heading p {
    font-size: 50px;
  }
}
@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes descAnimation {
  from {
    transform: translateY(30);
  }
  to {
    transform: translateY(0);
  }
}
.skills-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}
.skill {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: rgba(128, 128, 128, 0.185);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.skill img {
  width: 130px;
  height: 130px;
}
.skill p {
  margin: auto;
  color: white;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}
.wrapper-heading p {
  font-size: 150px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
